@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

:root {

}

html {
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Errors */

.errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
}

.errors ul {
    margin-bottom: 0;
    padding-left: 1em;
    list-style: circle;
}
/*****************

      HEADER

*****************/
header {
    background-color: #4a4e4d;
    height: 50px;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

header h1 {
    padding: 0;
    margin: 0;
}
/*****************

      NAVIGATION

*****************/

nav{
    font-size: 1.2rem;
    text-align: center;
}
nav ul {
    list-style: none;
}
/*****************

      STAFF

*****************/

main#staff {
    text-align: center;
}
/*****************

      Common for SUBJECTS, SUBJECT, PAGES, PAGE

*****************/
main {
    padding-left: 20px;
    padding-right: 20px;
}

main h1 {
    font-size: 2.2rem;
}

main ul {
    list-style: none;
}
main ul li {
    margin:5px;
}
.actions {
    margin-bottom: 10px;
}

.list {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #555;

}

.list td, .list th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}
    /****** FORM ******/

.new-form .form-control {
    margin-bottom: 10px;
}
.new-form .form-control input,.new-form .form-control select {
    border:1px solid #4a4e4d;
    border-radius: 5px;
    padding: 3px;
}
.new-form button {
    border: 1px solid #4a4e4d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #4a4e4d;
    text-transform: uppercase;
    padding: 5px;
    cursor: pointer;
}
/*****************

      SUBJECTS

*****************/

/*****************

      SUBJECT

*****************/


/*****************

      PAGES

*****************/

/*****************

      PAGES

*****************/
/*****************

      FOOTER

*****************/

footer {
    position: absolute;
    width: 100%;
    background-color: #4a4e4d;
    font-size: 1.2rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
}
